* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #400601;
}

article {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

section {
    background-color: #A63208;
    margin: 30px;
    padding: 20px;
    width: 33.3%;
    flex: 1 1 auto;
}
h1 {
    color: #F29727;
    text-align: center;
    margin-top: 55px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.2em;
}

h2 {
    color: #F29727;
    text-align: end;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: #f1e296;
    font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 768px) and (max-width: 991px) {

    article {
        flex-wrap: wrap; 
        justify-content: space-between;
    }
    
}

@media (max-width: 768px) {

    article {
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 85%;
    }

}